@tailwind base;
@tailwind utilities;

@layer base {

  body {
    @apply font-lora text-xl bg-bg;
}
  body.dark {
    @apply bg-dark-bg;
  }
  h1 {
    @apply mb-4 text-text dark:text-white text-5xl font-worksans font-extrabold;
  }
  h2 {
      @apply text-heading-text dark:text-dark-heading-text text-4xl font-worksans font-extrabold;
  }
  h3 {
    @apply text-heading-text dark:text-dark-heading-text text-3xl font-worksans font-bold;
  }
  h4 {
    @apply text-text dark:text-mint text-xl md:text-2xl text-center font-worksans font-semibold;
  }
  p {
    @apply text-text dark:text-dark-text;
  }
  p a, .article ul li a, .case-study-narrative ul li a, .about-interests li a{
      @apply text-heading-text dark:text-dark-heading-text underline;
  }
 
  ul {
      @apply list-disc list-inside;
  }
  ul li::marker {
      @apply text-heading-text dark:text-dark-heading-text;
  }
  ul.ctas li {
      @apply text-heading-text dark:text-dark-heading-text text-2xl font-worksans font-semibold my-4;
  }
  nav a:hover {
      @apply text-heading-text dark:text-dark-heading-text;
  }
  blockquote::before {
    @apply text-heading-text dark:text-dark-heading-text text-xl md:text-5xl font-lora;
    content: "“";
  }
  blockquote {
    @apply text-base text-text dark:text-dark-text my-4 md:my-0;
  }
  aside.notice {
    @apply p-4 bg-red-200 dark:bg-green-200 text-text text-base text-center font-worksans;
  }
  .active {
    @apply text-heading-text dark:text-dark-heading-text font-semibold;
  }
  .work a,
  .listening a,
  .next-steps a {
      @apply underline;
  }
  p a:not([class*='alt']):hover::after,
  .ctas a:hover::after,
  .work a p:hover::after,
  .listening p a:hover::after,
  .posts p a:hover::after,
  article ul li a:hover::after,
  button:hover::after,
  a.link p:hover::after {
      content: " →";
  }
  .next-steps-left:hover::before {
    content: "← "
  }
  a:not([href*='waylonbaumgardner.com']):not([href*='github.com']):not([href*='linkedin.com']):not([href*='twitter.com']):not([href*='esri.com']):not([href*='calbaptist.edu']):not([href*='arousalarchitecture.com']):not([href*='howmuchoxalate.com']):not([href^='#']):not([href^='/']):hover::after,
  button:not([href*='waylonbaumgardner.com']):not([href*='github.com']):not([href*='linkedin.com']):not([href*='twitter.com']):not([href*='esri.com']):not([href*='calbaptist.edu']):not([type*='submit']):not([class*='cta']):not([href^='#']):not([href^='/']):not([aria-label*='theme-switch']):hover::after {
    content: " ↗";
}
  .article h2 {
      @apply my-4;
  }
  .article p,
  .case-study-narrative p {
    @apply leading-normal my-6;
  }
  p.caption {
    @apply -mt-1 mb-4 text-sm font-worksans font-medium text-heading-text dark:text-dark-heading-text text-center;
  } 
  .article ul li, .case-study-narrative ul li {
    @apply text-text dark:text-dark-text ml-4 p-2;
  }
}


  